body {
  background-color: #f7f7f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 80vw;
  margin: auto;
  padding: 0.5rem;
}

footer {
  display: flex;
}

header {
  display: flex;
}

.identification {
  display: flex;
  align-items: center;
}

.profile-pic {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
}

#title {
  /* font-size: 40px; */
  text-transform: uppercase;
  padding-left: 0.5rem;
}

a {
  color: #505050;
  padding-right: 0.25rem;
}